<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.bkc.user.vo.UserVO" alias="UserVO" />
		<typeAlias type="com.bkc.customerService.vo.NoticeVO" alias="NoticeVO" />
		<typeAlias type="com.bkc.admin.board.banner.vo.BannerVO" alias="BannerVO" />
		<typeAlias type="com.bkc.menuInform.vo.SideMenuVO" alias="SideMenuVO"/>
		<typeAlias type="com.bkc.customerService.vo.FaqVO" alias="FaqVO" />
		<typeAlias type="com.bkc.admin.board.businessInformation.vo.BusinessInformationVO" alias="BusinessInformationVO" />
		<typeAlias type="com.bkc.admin.board.menuInfom.vo.SidemenuAdVO" alias="SidemenuAdVO"/>
		<typeAlias type="com.bkc.menuInform.vo.ChickenMenuVO" alias="ChickenMenuVO"/>
		<typeAlias type="com.bkc.admin.board.term.vo.TermVO" alias="TermVO"/>
		<typeAlias type="com.bkc.admin.board.term.vo.TermEmailVO" alias="TermEmailVO"/>
		<typeAlias type="com.bkc.admin.board.term.vo.TermPrivacyVO" alias="TermPrivacyVO"/>
		<typeAlias type="com.bkc.youtube.vo.YoutubeVO" alias="YoutubeVO" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
</configuration>